#!/bin/bash

cd "{{ fivem_server_path }}/alpine/opt/cfx-server"

exec env -i \
    PATH="/usr/bin:/bin" \
    LD_LIBRARY_PATH="{{ fivem_server_path }}/alpine/usr/lib:{{ fivem_server_path }}/alpine/lib:{{ fivem_server_path }}/alpine/usr/lib/v8" \
    ./ld-musl-x86_64.so.1 \
    ./FXServer  +set citizen_dir "{{ fivem_server_path }}/alpine/opt/cfx-server/citizen/" "$@"
